/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/ RESET */


/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

header,
footer {
    color: white;
}

footer h2,
h4 {
    color: #7289da;
}

h2,
h4,
p {
    margin: 30px auto;
}

.header-bottom,
.main-container {
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
}

section:nth-child(even) {
    background-color: #d3d3d3;
}

.button {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.black {
    color: white;
    background-color: #23272a;
}

.violet {
    color: white;
    background-color: #7289da;
}

/*/ COMMON */


/* HEADER */

/* top menu */

.header-top {
    display: flex;
    justify-content: center;
    background-color: #255ee9;
}

.menu {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 2;
    padding: 10px;
}

header a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

/*/ top menu */

/* jumbotron */

.header-box {
    max-width: 50%;
    text-align: center;
}

.header-bottom {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.box-button {
    display: flex;
    justify-content: center;
}

/*/ jumbotron */

/* /HEADER */


/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box {
    display: flex;
    text-align: left;
    max-width: 50%;
}

.main-box img,
.main-box2 img {
    width: 100%;
}

.main-box2 {
    text-align: center;
    max-width: 50%;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star h2 {
    background-image: url(/img/stars.svg);
    background-size: contain;
    padding: 25px;
}

/*/ MAIN */


/* FOOTER */

footer {
    background-color: #23272a;
}

.lingua img {
    width: 5%;
}

.awsome i {
    padding: 10px 10px 0 0;
}

.right2 li {
    list-style: none;
    margin: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: center;
    padding: 10px 0 50px;
}

.footer-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box {
    width: 50%;
    border-top: 1px solid #7289da;
}

/*/ FOOTER */