/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/ RESET */


/* DEBUG */


.left2 {
    background-color: #f08080;
    border: 2px dashed black;
}

.right2 {
    background-color: #20b2aa;
    border: 2px dashed white;
}

footer {
    background-color: #23272a;
}

.footer-container {
    width: 50%;
    height: 600px;
}

.footer-box {
    width: 50%;
    height: 85px;
    background-color: #7fffd4;
}


.logo-footer,
.bottone {
    background-color: #ffb6c1;
    border: 2px dashed black;
}

/*/ DEBUG */


/* COMMON */

header,
footer {
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h2,
p {
    margin: 30px auto;
}

.header-bottom,
.main-container {
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
}

section:nth-child(even) {
    background-color: #d3d3d3;
}

.button {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#nero {
    color: white;
    background-color: #23272a;
}

#viola {
    color: white;
    background-color: #7289da;
}

/*/ COMMON */


/* HEADER */

/* top menu */

.header-top {
    display: flex;
    justify-content: center;
    background-color: #255ee9;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

/*/ top menu */

/* jumbotron */

.header-box {
    max-width: 50%;
    text-align: center;
}

.header-bottom {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.box-button {
    display: flex;
    justify-content: center;
}

/*/ jumbotron */

/* /HEADER */


/* MAIN */

.main-box {
    display: flex;
    text-align: left;
    width: 50%;
}

.main-box img,
.main-box2 img {
    width: 100%;
}

.main-box2 {
    text-align: center;
    width: 50%;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}


/*/ MAIN */


/* FOOTER */

.left2 {
    width: 40%;
}

.right2 {
    width: 20%;
}

.footer-top {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    padding: 10px 0 50px;
}

.footer-container {
    display: flex;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer,
.bottone {
    padding: 5px;
}

/*/ FOOTER */